<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yyx.ssm.dao.ClassesDao">
    <resultMap id="classesResultMap" type="classes" autoMapping="true">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
    </resultMap>

    <select id="findAll" resultType="classes">
        select * from classes
    </select>

    <select id="findClassesById" parameterType="java.lang.String" resultType="classes">
        select * from classes
        <where>
            cid=#{cid}
        </where>
    </select>


    <insert id="saveClasses" parameterType="classes" useGeneratedKeys="true">
      <selectKey keyProperty="cid" resultType="java.lang.Long" order="BEFORE">
          select classes_seq.nextval from dual
      </selectKey>
        insert into classes(cid,cname,category) values (#{cid},#{cname},#{category})
    </insert>

    <delete id="deleteClassesByCid" parameterType="java.lang.String">
        delete from classes
        <where>
            cid=#{cid}
        </where>
    </delete>
</mapper>